<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Content</th>
        </tr>
        <tr>
            <form action="#" data-th-action="@{/note/edit}" method="post" target="_self">
            <td><input type="text" name="title" th:value="${title}" /></td>
            <td><input type="text" name="content" th:value="${content}" /></td>
            <td><button type="submit" name="id" th:value="${id}">Edit</button></td>
            <td><button type="button" th:onclick="|location.href = '@{/note/list}'|">Cancel</button>
        </tr>
    </table>
</center>
</body>
</html>