<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <center>
        <h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]] !</h3>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Content</th>
            </tr>
            <tr th:each="note: ${notes}">
                <td><span th:text="${note.title}"></span></td>
                <td><span th:text="${note.content}"></span></td>
                <td>
                    <form action="#" data-th-action="@{/note/edit}" method="get" target="_self">
                        <button type="submit" name="id" th:value="${note.id}">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="#" data-th-action="@{/note/delete}" method="post" target="_self">
                        <button type="submit" name="id" th:value="${note.id}"><img src="http://particletree.com/examples/buttons/cross.png" alt=""/>Delete</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <form action="#" data-th-action="@{/note/create}" method="get" target="_self">
                        <button type="submit">Create</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <form action="#" data-th-action="@{/logout}" method="post" target="_self">
                        <button type="submit">Logout</button>
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>